<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Hospital management System</title>
<meta name="description" content="A description of your website">
<meta name="keywords" content="keyword1, keyword2, keyword3">
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>

<div id="wrapper"> 

  <div id="header"> 

    <div class="top_banner">
      <h1>Hospital Management System</h1>
    </div>

  </div>

  <div id="page_content">
	
	<div class="left_side_bar"> 

      <div class="col_1">
        <div class="box">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/doctors">Doctors</a></li>
            <li><a href="/nurses">Nurses</a></li>
            <li><a href="/appointments">Appointments</a></li>
            <li><a href="/medicines">Medicines</a></li>
            <li><a href="/patients">Patients</a></li>
          </ul>
        </div>
      </div>

    </div>

    <div class="right_section">
      <div class="common_content">
        <h2>Home</h2>
        <hr>
        <table>
          <thead>
            <tr>
              <td>Student</td>
              <td>UNI</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Nihar Maheshwari</td>
              <td>nm3223</td>
            </tr>
            <tr>
              <td>Aayush Kumar Verma</td>
              <td>av2955</td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>

    <div class="clear"></div>
	
  </div>

</div>

</body></html>