<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Hospital Management System</title>
    <meta name="description" content="A description of your website">
    <meta name="keywords" content="keyword1, keyword2, keyword3">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>

    <div id="wrapper">

        <div id="header">

            <div class="top_banner">
                <h1>Hospital Management System</h1>
            </div>

        </div>

        <div id="page_content">

            <div class="left_side_bar">

                <div class="col_1">
                    <div class="box">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/admin">Admin</a></li>
                            <li><a href="/doctors">Doctors</a></li>
                            <li><a href="/nurses">Nurses</a></li>
                            <li><a href="/appointments">Appointments</a></li>
                            <li><a href="/medicines">Medicines</a></li>
                            <li><a href="/patients">Patients</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="right_section">
                <div class="common_content">
                    <h2>Medicines</h2>
                    <hr>
                    <form accept-charset="UTF-8" action="/medicines" autocomplete="off" method="POST"
                        target="_blank">
                        <fieldset>
                            <legend>Add New Medicine:</legend> 
                                <label for="name">Name : </label> <input name="name"type="text" value="" /> <br />
                                <label for="retail_price">Retail Price : </label><input name="retail_price" type="text" value="" /> <br />
                                <label for="prescription_required">Prescription Required : </label><input type="checkbox" name="prescription_required" /> <br />
                                <label for="current_stock">Stock : </label><input name="current_stock" type="text" value="" /> <br />
                                <input type="submit" value="Add" onclick="loading();">
                        </fieldset>
                    </form>
                    <br />
                    <table class="base_qry_render">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Retail Price</th>
                                <th>Prescription Required</th>
                                <th>Current Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                {% for row in data %}
                                <tr>
                                    {% for element in row %}
                                    <td>{{element}}</td>
                                    {% endfor %}    
                                </tr>
                                {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="clear"></div>

        </div>

    </div>

</body>

</html>